

//== Index Page


#sa-ui-kop{

// page specific items here =========================================

  .page-header .sa-profile-image {
    padding-right: 10px;
  }

  .page-header .sa-profile-image img{
    border-radius: 50%;
  }

  .page-header .sa-user-name{
    font-size: 20px;
    font-family: 'robotobold';
    padding-top:10px;
    padding-left:115px;
  }

  .page-header .sa-page-title{
    font-family: 'robotothin';
    font-size: 60px;
    line-height: 50px;
  }

// page specific items here =========================================

} // END index
