/*!
  These are the SARD specific styles
 */
/* ROBOTO */
@font-face {
  font-family: 'robotothin';
  src: url("../fonts/Roboto/roboto-thin-webfont.eot");
  src: url("../fonts/Roboto/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-thin-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-thin-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotothin_italic';
  src: url("../fonts/Roboto/roboto-thinitalic-webfont.eot");
  src: url("../fonts/Roboto/roboto-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-thinitalic-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-thinitalic-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-thinitalic-webfont.svg#robotothin_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto/roboto-light-webfont.eot");
  src: url("../fonts/Roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-light-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight_italic';
  src: url("../fonts/Roboto/roboto-lightitalic-webfont.eot");
  src: url("../fonts/Roboto/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-lightitalic-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto/roboto-regular-webfont.eot");
  src: url("../fonts/Roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/Roboto/roboto-italic-webfont.eot");
  src: url("../fonts/Roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-italic-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/Roboto/roboto-medium-webfont.eot");
  src: url("../fonts/Roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium_italic';
  src: url("../fonts/Roboto/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/Roboto/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-mediumitalic-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto/roboto-bold-webfont.eot");
  src: url("../fonts/Roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold_italic';
  src: url("../fonts/Roboto/roboto-bolditalic-webfont.eot");
  src: url("../fonts/Roboto/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-bolditalic-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/Roboto/roboto-black-webfont.eot");
  src: url("../fonts/Roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-black-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-black-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-black-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack_italic';
  src: url("../fonts/Roboto/roboto-blackitalic-webfont.eot");
  src: url("../fonts/Roboto/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-blackitalic-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-blackitalic-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-blackitalic-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-blackitalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*  TYPOGRAPHY GENERAL ========================================================== */
/* 16 * 0.0312 = 1/2px */
/* 16 * 0.0312 = 1/2px */
/* 16 * 0.0312 = 1/2px */
/* 16 * 0.0625 = 1px */
/* 16 * 0.125 = 2px */
h1 {
  font-family: 'robotothin', Helvetica, Arial, Sans-serif;
  font-size: 4.000em;
  letter-spacing: -0.025em;
  margin-top: 0;
  margin-left: -4px; }

h2 {
  font-family: 'robotothin', Helvetica, Arial, Sans-serif;
  font-size: 3.000em;
  margin-top: 0;
  margin-left: -3px; }

h3 {
  font-family: 'robotolight', Helvetica, Arial, Sans-serif;
  font-size: 2.000em;
  margin-top: 0;
  margin-left: -2px; }

h4 {
  font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
  font-size: 1.500em;
  margin-left: -1px; }

h5 {
  font-family: 'robotomedium', Helvetica, Arial, Sans-serif;
  font-size: 1.000em; }

h6 {
  font-family: 'robotobold', Helvetica, Arial, Sans-serif;
  font-size: 1.000em; }

p {
  font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
  font-size: 1.000em; }

/*  TEXT LINK Styles ========================================================== */
a {
  color: #00B2B2;
  text-decoration: none; }

a:hover, a:focus {
  color: #000078;
  text-decoration: none; }

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important; }

html, body {
  height: 100%;
  min-height: 100%; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background-color: #B5B0B0; }

.container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white; }

.row {
  padding-left: 7px;
  padding-right: 7px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 8px;
  padding-right: 8px; }

.page-header {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px 10px 30px 10px;
  border-bottom: 1px solid #D9D6D6; }

.container .jumbotron {
  background-color: #00B2B2;
  border-radius: 0px;
  padding: 0;
  margin-bottom: 0px; }

.jumbotron img {
  width: 100%; }

.navbar {
  border-radius: 0px; }

/* Over Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px; } }

.navbar-default {
  background-color: #007f7f;
  border: none; }

.navbar-default .navbar-brand {
  color: #fff; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #211F0F;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #004c4c; }

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #004c4c;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border: none;
  background-color: #004c4c; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00B2B2; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #00B2B2; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #004c4c;
  color: #fff; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #777777; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #004c4c; }

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #555555;
  background-color: #de0000; }

.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #de0000; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

.navbar-default .navbar-link {
  color: #777777; }

.navbar-default .navbar-link:hover {
  color: #333333; }

.navbar-default .btn-link {
  color: #777777; }

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333; }

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc; }

.panel {
  border-radius: 0px;
  font-family: 'robotoregular', Helvetica, Arial, Sans-serif;
  background-color: #D9D6D6; }

.panel-heading {
  border-radius: 0px;
  border-color: white; }
  .panel-heading h3 {
    font-family: 'robotolight', Helvetica, Arial, Sans-serif;
    font-size: 1.500em; }

.sa-panel-dots {
  background-image: url("..//graphics/dot_white.png");
  background-repeat: repeat-x;
  height: 16px;
  background-position: -4px 0px;
  margin: 0px 0px 0px 0px; }

.sa-panel-dots-grey {
  background-image: url("..//graphics/dot_grey04.png");
  background-repeat: repeat-x;
  height: 16px;
  background-position: -4px 0px;
  margin: 0px 0px 0px 0px; }

.panel-footer {
  border-radius: 0px;
  border-color: white;
  background-color: #D9D6D6;
  border-bottom: none; }

.panel-default {
  border: none; }

.panel-default > .panel-heading {
  background-color: #B5B0B0;
  border: 0; }

.panel-default > .panel-body {
  background-color: #D9D6D6; }

.panel-default > .sa-panel-dots {
  background-color: #D9D6D6; }

.panel-default > .panel-footer {
  background-color: #827D7D;
  color: white;
  border: 0; }

.panel-primary {
  border: none; }

.panel-primary > .panel-heading {
  background-color: #007f7f;
  color: white;
  border: 0; }

.panel-primary > .panel-body {
  background-color: #00b2b2; }

.panel-primary > .sa-panel-dots {
  background-color: #00b2b2; }

.panel-primary > .panel-footer {
  background-color: #004c4c;
  color: white;
  border: 0; }

.panel-success {
  border: none; }

.panel-success > .panel-heading {
  background-color: #29a329;
  color: white;
  border: 0; }

.panel-success > .panel-body {
  background-color: #5cd65c; }

.panel-success > .sa-panel-dots {
  background-color: #5cd65c; }

.panel-success > .panel-footer {
  background-color: #1f7a1f;
  color: white;
  border: 0; }

.panel-info {
  border: none; }

.panel-info > .panel-heading {
  background-color: #00a3cc;
  color: white;
  border: 0; }

.panel-info > .panel-body {
  background-color: #00ccff; }

.panel-info > .sa-panel-dots {
  background-color: #00ccff; }

.panel-info > .panel-footer {
  background-color: #007a99;
  color: white;
  border: 0; }

.panel-warning {
  border: none; }

.panel-warning > .panel-heading {
  background-color: black;
  color: #FFCC00;
  border: 0; }

.panel-warning > .panel-body {
  background-color: #ffcc00; }

.panel-warning > .sa-panel-dots {
  background-color: #ffcc00; }

.panel-warning > .panel-footer {
  background-color: black;
  color: #FFCC00;
  border: 0; }

.panel-danger {
  border: none; }

.panel-danger > .panel-heading {
  background-color: black;
  color: #FF0000;
  border: 0; }

.panel-danger > .panel-body {
  background-color: red; }

.panel-danger > .sa-panel-dots {
  background-color: red; }

.panel-danger > .panel-footer {
  background-color: black;
  color: #FF0000;
  border: 0; }

.sa-panel-MRv {
  border: none; }

.sa-panel-MRv > .panel-heading {
  background-color: #007f7f;
  color: white;
  border: 0; }

.sa-panel-MRv > .panel-body {
  background-color: #00b2b2;
  color: white; }

.sa-panel-MRv > .sa-panel-dots {
  background-color: #00b2b2; }

.sa-panel-MRv > .panel-footer {
  background-color: #004c4c;
  color: white;
  border: 0; }

.sa-panel-NRv {
  border: none; }

.sa-panel-NRv > .panel-heading {
  background-color: #cc5500;
  color: white;
  border: 0; }

.sa-panel-NRv > .panel-body {
  background-color: #ff6a00;
  color: white; }

.sa-panel-NRv > .sa-panel-dots {
  background-color: #ff6a00; }

.sa-panel-NRv > .panel-footer {
  background-color: #994000;
  color: white;
  border: 0; }

.sa-panel-360 {
  border: none; }

.sa-panel-360 > .panel-heading {
  background-color: #cc8e00;
  color: white;
  border: 0; }

.sa-panel-360 > .panel-body {
  background-color: #ffb200;
  color: white; }

.sa-panel-360 > .sa-panel-dots {
  background-color: #ffb200; }

.sa-panel-360 > .panel-footer {
  background-color: #996b00;
  color: white;
  border: 0; }

.sa-panel-eLeave {
  border: none; }

.sa-panel-eLeave > .panel-heading {
  background-color: #839626;
  color: white;
  border: 0; }

.sa-panel-eLeave > .panel-body {
  background-color: #a7bf30;
  color: white; }

.sa-panel-eLeave > .sa-panel-dots {
  background-color: #a7bf30; }

.sa-panel-eLeave > .panel-footer {
  background-color: #606d1c;
  color: white;
  border: 0; }

.sa-panel-A4A {
  border: none; }

.sa-panel-A4A > .panel-heading {
  background-color: #660066;
  color: white;
  border: 0; }

.sa-panel-A4A > .panel-body {
  background-color: #990099;
  color: white; }

.sa-panel-A4A > .sa-panel-dots {
  background-color: #990099; }

.sa-panel-A4A > .panel-footer {
  background-color: #330033;
  color: white;
  border: 0; }

.sa-panel-JPL {
  border: none; }

.sa-panel-JPL > .panel-heading {
  background-color: #b20059;
  color: white;
  border: 0; }

.sa-panel-JPL > .panel-body {
  background-color: #e50073;
  color: white; }

.sa-panel-JPL > .sa-panel-dots {
  background-color: #e50073; }

.sa-panel-JPL > .panel-footer {
  background-color: #7f0040;
  color: white;
  border: 0; }

.sa-panel-eRo {
  border: none; }

.sa-panel-eRo > .panel-heading {
  background-color: #003434;
  color: white;
  border: 0; }

.sa-panel-eRo > .panel-body {
  background-color: #004d4d;
  color: white; }

.sa-panel-eRo > .sa-panel-dots {
  background-color: #004d4d; }

.sa-panel-eRo > .panel-footer {
  background-color: #001a1a;
  color: white;
  border: 0; }

.sa-panel-CPL {
  border: none; }

.sa-panel-CPL > .panel-heading {
  background-color: #8c0000;
  color: white;
  border: 0; }

.sa-panel-CPL > .panel-body {
  background-color: #bf0000;
  color: white; }

.sa-panel-CPL > .sa-panel-dots {
  background-color: #bf0000; }

.sa-panel-CPL > .panel-footer {
  background-color: #590000;
  color: white;
  border: 0; }

.sa-panel-dark {
  border: none; }

.sa-panel-dark > .panel-heading {
  background-color: #615E5C;
  color: white;
  border: 0; }

.sa-panel-dark > .panel-body {
  background-color: #B5B0B0; }

.sa-panel-dark > .sa-panel-dots {
  background-color: #B5B0B0; }

.sa-panel-dark > .panel-footer {
  background-color: #403D3D;
  color: white;
  border: 0; }

.sa-panel-inverted {
  border: none; }

.sa-panel-inverted > .panel-heading {
  background-color: #211F0F;
  color: white;
  border: 0; }

.sa-panel-inverted > .panel-body {
  background-color: #403D3D;
  color: white; }

.sa-panel-inverted > .sa-panel-dots {
  background-color: #403D3D;
  color: white; }

.sa-panel-inverted > .panel-footer {
  background-color: #211F0F;
  color: white;
  border: 0; }

.sa-panel-white {
  border: none;
  background-color: white;
  box-shadow: none; }

.sa-panel-white > .panel-heading {
  color: #211F0F;
  border-top: 1px solid #211F0F;
  border-bottom: 1px solid #211F0F; }

.sa-panel-white > .panel-body {
  color: #211F0F; }

.sa-panel-white > .sa-panel-dots-grey {
  color: #211F0F; }

.sa-panel-white > .panel-footer {
  background-color: white;
  color: #211F0F;
  border-top: 1px solid #211F0F;
  border-bottom: 1px solid #211F0F; }

.alert {
  font-family: 'robotomedium', Helvetica, Arial, Sans-serif;
  font-size: 16px;
  color: white; }

.alert-success {
  background-color: #33cc33;
  border: none; }
  .alert-success a:link {
    color: #1f7a1f; }
  .alert-success a:hover, .alert-success a:focus {
    color: #0a290a; }

.alert-info {
  background-color: #00CCFF;
  border: none; }
  .alert-info a:link {
    color: #007a99; }
  .alert-info a:hover, .alert-info a:focus {
    color: #002933; }

.alert-warning {
  background-color: #FFCC00;
  border: none;
  color: black; }
  .alert-warning a:link {
    color: #665200; }
  .alert-warning a:hover, .alert-warning a:focus {
    color: black; }

.alert-danger {
  background-color: #FF0000;
  border: none; }
  .alert-danger a:link {
    color: #660000; }
  .alert-danger a:hover, .alert-danger a:focus {
    color: black; }

.sa-alert-MRv {
  background-color: #00B2B2;
  border: none; }
  .sa-alert-MRv a:link {
    color: #004c4c; }
  .sa-alert-MRv a:hover, .sa-alert-MRv a:focus {
    color: black; }

.sa-alert-NRv {
  background-color: #FF6A00;
  border: none; }
  .sa-alert-NRv a:link {
    color: #803500; }
  .sa-alert-NRv a:hover, .sa-alert-NRv a:focus {
    color: #331500; }

.sa-alert-360 {
  background-color: #FFB200;
  border: none; }
  .sa-alert-360 a:link {
    color: #664700; }
  .sa-alert-360 a:hover, .sa-alert-360 a:focus {
    color: #332400; }

.sa-alert-eLeave {
  background-color: #A7BF30;
  border: none; }
  .sa-alert-eLeave a:link {
    color: #3c4511; }
  .sa-alert-eLeave a:hover, .sa-alert-eLeave a:focus {
    color: black; }

.sa-alert-A4A {
  background-color: #990099;
  border: none; }
  .sa-alert-A4A a:link {
    color: #330033; }
  .sa-alert-A4A a:hover, .sa-alert-A4A a:focus {
    color: black; }

.sa-alert-JPL {
  background-color: #E50073;
  border: none; }
  .sa-alert-JPL a:link {
    color: #7f0040; }
  .sa-alert-JPL a:hover, .sa-alert-JPL a:focus {
    color: #19000d; }

.sa-alert-eRo {
  background-color: #004D4D;
  border: none; }
  .sa-alert-eRo a:link {
    color: #00b3b3; }
  .sa-alert-eRo a:hover, .sa-alert-eRo a:focus {
    color: #001a1a; }

.sa-alert-CPL {
  background-color: #BF0000;
  border: none; }
  .sa-alert-CPL a:link {
    color: #590000; }
  .sa-alert-CPL a:hover, .sa-alert-CPL a:focus {
    color: black; }

.sa-main-section {
  min-height: 100%;
  padding-bottom: 40px; }

.sa-main-content {
  background-color: white;
  min-height: 100%; }

.sa-footer-content {
  background-color: #211F0F;
  color: #00B2B2;
  height: 40px;
  padding-top: 10px; }

.sa-footer {
  margin-bottom: -10px; }

.sa-indent {
  padding-left: 15px;
  padding-right: 15px; }

.sa-top-nav {
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */ }
  .sa-top-nav .navbar {
    margin-bottom: 0px; }
  .sa-top-nav .navbar-brand {
    padding: 15px 10px; }
  @media only screen and (max-width: 767px) {
    .sa-top-nav .navbar-form {
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px 15px;
      border-top: 0px;
      border-bottom: 0px;
      box-shadow: none; }
    .sa-top-nav .navbar-nav {
      margin: 5px 0px 0px 0px; } }
  @media only screen and (min-width: 768px) {
    .sa-top-nav .nav > li > a {
      padding: 15px 0px; } }

.row.sa-dots-grey {
  background-image: url("..//graphics/dot_grey06.png");
  background-repeat: repeat-x;
  height: 16px;
  background-position: -4px 0px;
  margin: 15px -20px 25px -20px; }

.row.sa-dots-wht {
  background-image: url("..//graphics/dot_white.png");
  background-repeat: repeat-x;
  height: 16px;
  background-position: -4px 0px;
  margin: 15px -20px 25px -20px; }

.row.sa-empty {
  height: 40px;
  background: none; }

.ui-btn {
  margin-bottom: 10px; }

#sa-index-page .page-header .sa-profile-image {
  padding-right: 10px; }

#sa-index-page .page-header .sa-profile-image img {
  border-radius: 50%; }

#sa-index-page .page-header .sa-user-name {
  font-size: 20px;
  font-family: 'robotobold';
  padding-top: 10px;
  padding-left: 115px; }

#sa-index-page .page-header .sa-page-title {
  font-family: 'robotothin';
  font-size: 60px;
  line-height: 50px; }

#sa-index-sidebar-page .page-header .sa-profile-image {
  padding-right: 10px; }

#sa-index-sidebar-page .page-header .sa-profile-image img {
  border-radius: 50%; }

#sa-index-sidebar-page .page-header .sa-user-name {
  font-size: 20px;
  font-family: 'robotobold';
  padding-top: 10px;
  padding-left: 115px; }

#sa-index-sidebar-page .page-header .sa-page-title {
  font-family: 'robotothin';
  font-size: 60px;
  line-height: 50px; }

#sa-ui-kop .page-header .sa-profile-image {
  padding-right: 10px; }

#sa-ui-kop .page-header .sa-profile-image img {
  border-radius: 50%; }

#sa-ui-kop .page-header .sa-user-name {
  font-size: 20px;
  font-family: 'robotobold';
  padding-top: 10px;
  padding-left: 115px; }

#sa-ui-kop .page-header .sa-page-title {
  font-family: 'robotothin';
  font-size: 60px;
  line-height: 50px; }

.sa-sidebar {
  z-index: 100;
  position: relative;
  top: 0px;
  left: -15px;
  min-height: 100%; }

.sa-sidebar-content {
  width: 100%;
  height: 0px;
  min-height: 100%; }
  .sa-sidebar-content .panel-group {
    margin-bottom: 0px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top; }
    .sa-sidebar-content .panel-group .panel {
      margin-bottom: 0; }
      .sa-sidebar-content .panel-group .panel + .panel {
        margin-top: 5px; }
    .sa-sidebar-content .panel-group .panel-heading {
      border-bottom: 0; }
    .sa-sidebar-content .panel-group .panel-title {
      height: 18px; }
    .sa-sidebar-content .panel-group .panel-title a {
      float: right;
      text-decoration: none; }
    .sa-sidebar-content .panel-group .panel-heading + .panel-collapse > .panel-body, .sa-sidebar-content .panel-group .panel-group .panel-heading + .panel-collapse > .list-group {
      border-top: 0px; }
    .sa-sidebar-content .panel-group .panel-body {
      height: 680px;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateX(100%) rotate(90deg);
      -webkit-transform-origin: left top;
      -moz-transform: translateX(100%) rotate(90deg);
      -moz-transform-origin: left top;
      -o-transform: translateX(100%) rotate(90deg);
      -o-transform-origin: left top;
      transform: translateX(100%) rotate(90deg);
      transform-origin: left top; }
    .sa-sidebar-content .panel-group .panel-footer {
      border-top: 0; }
